<nav class="container">
  <ul
    class="{{ themeToggleService.getTheme() }} {{
      !isMobile ? 'page-links' : 'side-links'
    }} {{ menuToggled ? 'wide' : '' }}"
  >
    <a
      href="javascript:void(0)"
      class="close-btn {{ menuToggled && isMobile ? '' : 'disable-btn' }} {{
        themeToggleService.getTheme()
      }}"
      (click)="toggleMenu()"
      >&times;</a
    >
    <li
      class=" {{ !isMobile ? 'page-link' : 'side-link' }}"
      *ngFor="let pageLink of links"
    >
      <a
        class="{{ themeToggleService.getTheme() }}"
        (click)="toggleMenu()"
        routerLink="{{ pageLink.url }}"
        >{{ pageLink.text }}
      </a>
    </li>
  </ul>
  <button
    (click)="toggleMenu()"
    class="{{ !isMobile ? 'disable-btn' : 'sidebar-toggle-btn' }} {{
      themeToggleService.getTheme()
    }}"
  >
    &#9776;
  </button>
</nav>
