<div class="container">
  <h2>Send me an email!</h2>
  <form (ngSubmit)="processForm()" class="contact-form">
    <!-- name -->
    <div class="form-field">
      <input
        type="text"
        name="name"
        class="form-input"
        placeholder="Your Name"
        [(ngModel)]="name"
        required
        minlength="3"
        #nameInput="ngModel"
      />
      <div class="form-error" *ngIf="nameInput.invalid && nameInput.dirty">
        Name should be at least 3 characters long.
      </div>
    </div>

    <!-- email -->
    <div class="form-field">
      <input
        type="email"
        name="email"
        class="form-input"
        placeholder="Your Email"
        [(ngModel)]="email"
        required
        email
        #emailInput="ngModel"
      />
      <div class="form-error" *ngIf="emailInput.invalid && emailInput.dirty">
        Invalid email.
      </div>
    </div>

    <!-- message -->
    <div class="form-field">
      <textarea
        class="form-input"
        name="message"
        placeholder="What's on your mind?"
        [(ngModel)]="message"
        required
        #messageInput="ngModel"
      ></textarea>
      <div class="form-error" *ngIf="emailInput.invalid && emailInput.dirty">
        Message required.
      </div>
    </div>

    <button
      type="submit"
      class="{{
        themeToggleService.getTheme() === 'dark-mode' ? 'light-btn' : 'dark-btn'
      }}"
    >
      Submit
    </button>
  </form>
</div>
