@import "../../theme";

.contact-form {
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  input,
  textarea {
    font-family: "Roboto Mono", Monospace, Arial, "Helvetica Neue", Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid $grey;
  box-sizing: border-box;
  resize: vertical;
  border-radius: 4px;
}

.form-error {
  margin: 8px;
  margin-left: 0;
  color: red;
}

.form-field {
  margin-bottom: 16px;
}

.form-submit-btn {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dark-btn {
  @extend .form-submit-btn;
  background-color: $dark;
  color: $light;
  &:hover {
    background-color: lighten($dark, 20);
  }
}

.light-btn {
  @extend .form-submit-btn;
  background-color: $light;
  color: $dark;
  &:hover {
    background-color: darken($light, 20);
  }
}
