@import "theme";

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", Monospace, Arial, "Helvetica Neue", Helvetica,
    sans-serif;
}

.main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dark-mode {
  background-color: $dark;
  color: $light;
  // @extend .theme-transition;
}

.light-mode {
  background-color: $light;
  color: $dark;
  // @extend .theme-transition;
}

.theme-transition {
  transition: color 0.5s, background 0.5s;
}

.container {
  display: block;
  margin: 32px auto;
  padding: 32px;
  // padding-left: 32px;
  max-width: 640px;
}
